#main {
    margin: auto;
    margin-top: 100px;
    background-color: lightblue;
    text-align: center;
    width: 400px;
    height: 500px;
    border-radius: 20px;
}

#chat {
    height: 88%;
    width: 100%;
    overflow-y: auto;
}

#test { 
    width: 80%;
    height: 40px;
    border-radius: 0;
    border: 1px solid gray;
    outline-style: none;
}

#submitBtn {
    width: 60px;
    height: 40px;
}

.connect {
    width: 90%;
    margin: auto;
    background-color: lightcoral;
    text-align: center;
    margin-top: 10px;
    display: inline-block;
}

.disconnect {
    width: 90%;
    margin: auto;
    background-color: lightcoral;
    text-align: center;
    margin-top: 10px;
    display: inline-block;
}

.me {
    width: 70%;
    margin: auto;
    background-color: lemonchiffon;
    border-radius: 5px;
    margin-top: 10px;
    float: right;
    margin-right: 10px;
}

.other {
    width: 70%;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    float: left;
    margin-left: 10px;
}